html 
  head
    title= "Video Creator"  
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/styles.css')
    
  body
    h1 Let's make a video!
    form#uploadForm(ref='uploadForm', action='/upload', method='post', enctype='multipart/form-data')
      label Image file
      br
      input(type='file', name='imgFile')
      br

      label Sound file
      br
      input(type='file', name='soundFile')
      br

      input(type='submit', value='Create!', class="offset-4")
